.crumbs{
	height: 42px;
	line-height: 42px;
	margin-top: 2px;
	width: 980px;
	@extend %h-center;
	color: #b4b4b4;
}
.filter{
	width: 982px;
	@extend %h-center;
	.filter-c{
		@extend %clearfix;
		padding: 15px 0;
		border: 1px solid #e1e1e1;
	}
	.fc-l{
		@extend %pull-left;
		width: 80px;
		padding-left: 10px;
		padding-top: 15px;
	}
	.fc-c{
		@extend %pull-left;
	}
	.fcc-list{
		@extend %clearfix;
		width: 800px;
		li{
			@extend %pull-left;
			width: 130px;
			height: 30px;
		}
		i{
			margin-right: 6px;
			vertical-align: middle;
		}
		span{
			vertical-align: middle;
		}
	}
	.fc-r{
		@extend %pull-left;
		width: 80px;
		padding-right: 10px;
		text-align: right;
	}
	.pull-up{
		cursor: pointer;
		i{
			margin-left: 5px;
		}
	}
}