.ns-title{
	width: 980px;
	height: 48px;
	line-height: 48px;
	font-size: 24px;
	@extend %h-center;
}

.per-cen{
	width: 980px;
	border-top: 1px solid #000;
	@extend %h-center;
	@extend %clearfix;
}
.pc-l{
	width: 206px;
	@extend %pull-left;
	li{
		height: 48px;
		line-height: 48px;
		cursor: pointer;
		i{
			margin: 0 10px;
			visibility: hidden;
		}
	}
	.active{
		border-bottom: 1px solid #e1e1e1;
		i{
			visibility: visible;
		}
	}
}
.pc-r{
	width: 768px;
	@extend %pull-right;
	.pcr-til{
		font-size: 14px;
		height: 36px;
		line-height: 36px;
		padding-left: 20px;
	}
}

.ns-con{
	.nsc-t{
		border-bottom: 1px solid #e1e1e1;
		@extend %clearfix;
		padding-bottom: 24px;
	}
	.nsc-l{
		width: 100px;
		text-align: center;
		@extend %pull-left;
		.head{
			@include size(80px);
			margin: 0 auto;
			border: 1px solid #ebebeb;
			border-radius: 50%;
		}
		.head-ope{
			margin-top: 10px;
		}
		.head-ope a{
			color: #ff9aaa;
		}

	}
	.nsc-r{
		margin-left: 100px;
		line-height: 18px;
	}
	.new-ord{
		line-height: 24px;
	}
}
.fo-con{
}
.ord-tab{
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	margin-bottom: 18px;
	li{
		@extend %pull-left;
		margin-right: 20px;
		cursor: pointer;
		&.active,&:hover{
			border-bottom: 2px solid #000;
		}
	}
}
.mc-con,.sc-con{
	.ckb{
		@include size(8px);
		display: inline-block;
		margin-right: 10px;
		border: 1px solid #000;
	}
	.ckbed{
		background-color: #ff7a90;
		border: 1px solid #ff7a90;
	}
	.mccb-list{
		width: 100%;
		thead{
			border-bottom: 2px solid #000;
			color: #333;
		}
		tbody{
			color: #494949;
		}
		tr{
			border-bottom: 1px dashed #e1e1e1;
		}
		td{
			padding: 16px 0;
		}
		.ord-btn2{
			margin-top: 8px;
		}
		.com-sel-wrap{
			margin-left: 44px;
		}
	}
	.ml-l{
		@extend %pull-left;
		width: 90px;
		.ckb{
			vertical-align: middle;
		}
		.or-img{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.ml-r{
		margin-left: 90px;
	}
	.num-wrap{
		margin-left: 26px;
		@include size(98px,25px);
		.nw-ope{
			@extend %pull-left;
			@include size(23px);
			line-height: 23px;
			text-align: center;
			font-size: 16px;
			border: 1px solid #e1e1e1;
			cursor: pointer;
		}
		.nw-inp{
			width: 48px;
			height: 23px;
			text-align: center;
			border-top: 1px solid #e1e1e1;
			border-bottom: 1px solid #e1e1e1;
			@extend %pull-left;
		}
	}
}
.as-con{
	.asc-t{
		width: 333px;
		height: 93px;
		padding: 9px 15px 15px;
		border: 1px solid #e1e1e1;
		color: #a7a7a7;
		position: relative;
	}
	.asct-t{
		@extend %clearfix;
	}
	.edit{
		@extend %pull-right;
		margin-right: 20px;
	}
	.asct-b{
		margin-top: 15px;
		color: #4e4e4e;
		line-height: 18px;
	}
	.close{
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
	.asc-b{
		.com-btn{
			margin-top: 27px;
		}
	}
}
.add-con{
	.add-line{
		height: 30px;
		margin-top: 10px;
		position: relative;
	}
	.al-l{
		@extend %pull-left;
		width: 66px;
		padding-left: 14px;
		line-height: 30px;
		text-align: right;
	}
	.al-r{
		@extend %pull-left;
		width: 380px;
		height: 28px;
		padding: 0 6px;
		border: 1px solid #999;
		input{
			height: 28px;
			width: 100%;
		}
	}
	.spe-al-r{
		height: 30px;
		.com-sel-wrap2{
			@extend %pull-left;
			margin-right: 10px;
		}
		.csw-b{
			// padding-top: 30px;
		}
		.close{
			position: absolute;
			top: 8px;
			right: 8px;
			z-index: 999;
			cursor: pointer;
		}
	}
	.error-tip{
		position: absolute;
		width: 240px;
		line-height: 16px;
		top: 0;
		left: 485px;
	}
	.ckgray{
		display: inline-block;
		@include size(10px);
		border: 1px solid #999;
	}
	.ckgrayed{
		background-color: #999;
	}
	.set-def{
		height: 30px;
		padding-top: 16px;
		padding-left: 80px;
	}
	.add-ope{
		padding-left: 80px;
	}
}
.im-con{

}
.gs-eval{
	
}
.mfp-con{
	border-top: 2px solid #000;
	.mc-title{
		margin-top: 8px;
		height: 30px;
		line-height: 30px;
	}
	.bla-col{
		font-size: 16px;
		margin-right: 28px;
	}
	.gray-col{
		cursor: pointer;
	}
	.mfp-list{
		@extend %clearfix;
		li{
			@extend %pull-left;
			width: 220px;
			padding: 10px;
			margin: 8px;
			background-color: #f9f9f9;
		}
		.ml-txt{
			margin-top: 10px;
			text-align: center;
			line-height: 18px;
		}
	}
}
.mp-con{
	.mc-list{
		@include size(300px,30px);
		margin-top: 8px;
		position: relative;
	}
	.mar-t31{
		margin-top: 31px;
	}
	.ml-l{
		@extend %pull-left;
		width: 70px;
		line-height: 30px;
	}
	.ml-r{
		@extend %pull-right;
		width: 216px;
		height: 28px;
		border: 1px solid #999;
		padding: 0 6px;
	}
	.ml-r input{
		@include size(100%);
	}
	.com-btn{
		margin-top: 20px;
		margin-left: 70px;
	}
	.pass-gra{
		width: 231px;
		height: 15px;
		margin-left: 71px;
		position: absolute;
		top: 38px;
		left: -1px;
		li{
			@extend %pull-left;
			@include size(75px,15px);
			line-height: 15px;
			margin-right: 2px;
			background-color: #929292;
			text-align: center;
			color: #fff;
		}
		.active{
			background-color: #ff7a90;
		}
	}
}
.od-con{
	padding-left: 20px;
	.oc-t{
		@extend %clearfix;
		line-height: 30px;
		.ot-l,.ot-r{
			@extend %pull-left;
			width: 320px;
		}
	}
	.oc-b{
		line-height: 30px;
	}
}
.spe-nsc-b{
	padding-left: 20px;
	margin-top: 20px;
}
.spe-or-ope{
	.com-btn2{
		margin-right: 320px;
	}
}
.ord-btn{
	display: inline-block;
	@include size(50px,25px);
	line-height: 25px;
	text-align: center;
	&.active,&:hover{
		background-color: #ff7a90;
		color: #fff;
	}
}
.ord-btn2{
	display: inline-block;
	@include size(80px,30px);
	line-height: 30px;
	text-align: center;
	background-color: #ff7a90;
	color: #fff;
}
.order{
	text-align: center;
	width: 100%;
	tr{
		border-bottom: 1px solid #333;
	}
	td{
		padding: 8px 0;
	}
}
.or-img{
	@include size(48px);
	margin: 0 auto;
	border: 1px solid #e1e1e1;
}

.nopay{
	thead tr{
		font-weight: bold;
		border-bottom: 1px solid #333;
	}
	tbody tr{
		border-bottom: 1px dashed #e6e6e6;
	}
}
.subtotal{
	text-align: right;
	padding: 12px 0;
	color: #4e4e4e;
	p{
		line-height: 18px;
	}
	.or-ope{
		margin-top: 40px;
	}
}

.ar-wrap{
	margin-top: 20px;
	.arw-t{
		padding: 15px 30px 30px;
		border: 1px solid #e1e1e1;
	}
	.arw-list{
		@extend %clearfix;
		margin-top: 20px;
		.arwl-l{
			@extend %pull-left;
			line-height: 35px;
			margin-right: 10px;
		}
		.arwl-r{
			@extend %pull-left;
		}
		.ar-top{
			height: 33px;
			line-height: 33px;
			border: 1px solid #e1e1e1;
			text-align: center;
			&:hover,&.active{
				border-color: #ff7a90;
			}
			padding: 0 20px;
			cursor: pointer;
			span{
				margin-right: 5px;
			}
		}
		.wenti{
			width: 428px;
			height: 98px;
			border: 1px solid #e1e1e1;
			padding: 10px;
			textarea{
				width: 100%;
				height: 100%;
				resize: none;
			}
		}
		.arr-txt{
			margin-top: 18px;
		}

	}
	.arw-b{
		padding-left: 100px;
		margin-top: 30px;
	}
	.arr-btn{
		display: inline-block;
		width: 80px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		background-color: #e1e1e1;
		border-radius: 2px;
	}
}
