@import "compass/utilities/sprites";
@import "slice/*.png";
$slice-sprite-dimensions:true;

$bg-col:#f9f9f9;
$txt-col:#333;

// .............................icon....................
.com-ico{
	display: inline-block;
}
.zheng-ico{
	@include slice-sprite(zheng-ico);
}
.cart-ico{
	@include slice-sprite(cart-ico);
}
.tui-ico{
	@include slice-sprite(tui-ico);
}
.you-ico{
	@include slice-sprite(you-ico);
}
.time-ico{
	@include slice-sprite(time-ico);
}
.phone-ico{
	@include slice-sprite(phone-ico);
}
.shop-ico{
	@include slice-sprite(shop-ico);
}
.up-ico{
	@include slice-sprite(top-ico);
}
.down-ico{
	@include slice-sprite(down-ico);
}
.awlgray-ico{
	@include slice-sprite(awgray-l);
}
.awrgray-ico{
	@include slice-sprite(awgray-r);
}
.awtpink-ico{
	@include slice-sprite(awpink-t);
}
.awrpink-ico{
	@include slice-sprite(awpink-r);
}
.awbpink-ico{
	@include slice-sprite(awpink-b);
}
.awlpink-ico{
	@include slice-sprite(awpink-l);
}
.del-ico{
	@include slice-sprite(del-ico);
}
.col-ico{
	@include slice-sprite(col-ico);
}
.dot-ico{
	@include slice-sprite(dot-ico);
}
.star-gray-ico{
	@include slice-sprite(star-gray);
}
.star-ico{
	@include slice-sprite(star-ico);
}

.zan-ico{
	@include slice-sprite(zan-ico);
}
.arowt-ico{
	@include slice-sprite(arowt-ico);
}
.arowb-ico{
	@include slice-sprite(arowb-ico);
}
.close-ico{
	@include slice-sprite(close-ico);
}
.close-whi-ico{
	@include slice-sprite(close-whi-ico);
}
.login-ico{
	@include slice-sprite(login-ico);
}
.arrow-top{
	@include slice-sprite(arrow-top);
}
.ck{
	display: inline-block;
	@include size(8px);
	border: 1px solid #ff7a90;
}
.cked{
	@include slice-sprite(ck-ico);
}
// ...............................often class.......................
.red-col{
	color: #fe6060;
}
.bla-col{
	color: #000;
}
.blu-col{
	color: #2674d0;
}
.gray-col{
	color: #a0a0a0;
}
.bg-white{
	background-color: #fff;
}
.und-line{
	text-decoration: underline;
}
.del-sty{
	text-decoration: line-through;
}
.bor-t0{
	border-top: 0!important;
}
.bor-r0{
	border-right: 0!important;
}
.bor-l0{
	border-left: 0!important;
}
.bor-0{
	border: 0!important;
}
.padd-l13{
	padding-left: 13px;
}
.padd-l20{
	padding-left: 20px;
}
.bor-t1{
	border-top: 1px solid #000;
	margin-top: 50px;
}
.mar-t20{
	margin-top: 20px;
}
.mar-t12{
	margin-top: 12px;
}
.mar-t10{
	margin-top: 10px;
}
.mar-t5{
	margin-top: 5px;
}
.mar-t0{
	margin-top: 0!important;
}
.mar-t6{
	margin-top: 6px;
}
.mar-t12{
	margin-top: 12px;
}
.mar-lr10{
	margin: 0 10px;
}
.mar-lr20{
	margin: 0 20px;
}

.mar-l0{
	margin-left: 0!important;
}
.mar-r10{
	margin-right: 10px;
}

.com-btn{
	display: inline-block;
	@include size(105px,35px);
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color: #ff7a90;
}
.com-btn2{
	display: inline-block;
	@include size(103px,33px);
	line-height: 33px;
	text-align: center;
	border: 1px solid #000;
	color: #000;
}